*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
config/keys
coverage
columbo
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
.rvmrc
config/*meditaf_config.yml
config/MIST.rake
config/mauth_private_key_file
*.sh
config/*locale.yml
config/*cucumber.yml
config/*shamus.yml
config/*sauce_config.yml
doc
.DS_Store
config/.DS_Store
features/step_definitions/apis/*.json
*.log
features/studydesign/integrations
features/studydesign/integrations/*.feature
testresults